header .img1{
	width: 145px;
	margin-left: 46px;
}
header ul li{
	float: left;
	width: 121px;
	
}
header ul li a{
	font-size: 20px;
	display: block;
	line-height: 74px;
	text-align: center;
	color: #333333;
}
header ul li a:hover{
	color: #866961;
	box-sizing: border-box;
	border-bottom:6px solid #866961;
}
.top{
	border-bottom: 1px solid #a1a1a1;
	margin-top: 37px;
	margin-bottom: 25px;
}
.top_left img{
	width: 2px;
	vertical-align: bottom;
}
.top_left h2{
	display: inline-block;
}
.company{
	width: 996px;
	margin: 0 auto;
}
.top_left ul li:first-child h2{
	font-size: 16px;
	color: #333333;
}
.top_left li:last-child{
	font-size: 12px;
	color: #c6c6c6;
}
.top_left ul{
	margin-right: 32px;
}
.top_right a{
	font-size: 14px;
}
.top_right a:nth-child(1){
	color: #333333;
}
.top_right a:nth-child(3){
	color: #333333;
}
.top_right a:nth-child(2){
	color: #a1a1a1;
}
.top_right{
	padding-top: 27px;
}
.boxdui{
	height: 600px;
}
.boxdui .datu{
	width: 374px;
}
.wenzi{
	width:600px ;
	margin-left: 22px;
	text-align: justify;
}
.wenzi h2:first-child{
	font-size: 16px;
	color: #333333;
}
.wenzi h2:first-child span{
	font-size: 14px;
}
.wenzi h2:nth-child(2){
	font-size: 14px;
	color: #999999;
	margin-bottom: 32px;
}
.wenzi p{
	text-indent: 2em;
	line-height: 24px;
	font-size: 14px;
	color: #999999;
	margin-bottom: 33px;
}
.team{
	height: 293px;
	width: 145px;
	float: left;
	text-align: center;
	font-size: 14px;
	position: relative;
}
.team img{
	height: 221px;
	opacity: 0;
}
.team li:first-child{
	border-bottom:1px solid #d5d5d5 ;
}
.team h2{
	font-size: 14px;
	color: #333333;
	margin: 18px 0px 11px 0px;
}
.team p{
	color: #999999;
}
.team:hover hr{
	display: none;
}
.team:hover img{
	opacity: 1;
}
.team:hover{
	background-color:#333333 ;
}
.team:hover h2{
	color: #f5f5f5;
}
.team:hover li:first-child{
	border-bottom: 0px;
}
.team hr{
	height: 1px;
	width: 23px;
	background-color:#666666 ;
	border-style:none;
	position: absolute;
	bottom: 71px;
	left: 10px;
	display: block;
}
footer{
	margin-top: 37px;
	height: 80px;
	background-color:#866961 ;
	position: relative;
}
footer p{
	position: absolute;
	left: 68px;
	top: 42px;
	color:#ebebeb ;
}
.footerpic{
	width: 145px;
	position: absolute;
	left: 850px;
}